* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background: linear-gradient(254deg, #ffffff 21%, #f4b591 50%, #ee7da2 100%);
  background-size: cover;
  background-attachment: fixed;
}

section {
  background: snow;
  width: 750px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
}

.image-content {
  background: #013243;
  width: 375px;
  height: 400px;
  .heading,
  .tag {
    display: block;
    text-align: center;
    color: snow;
  }
  .heading {
    margin-top: 1.5rem;
    font-size: 25px;
  }
  .tag {
    font-size: 15px;
    font-weight: 100;
  }
  img {
    width: 500px;
    width: 370px;
    position: relative;
    top: -37.5%;
    left: 1.5%;
  }
}

.form-content {
  width: 375px;
  .contents {
    margin: 1.5rem 0rem 0rem 2.5rem;
  }
  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  label {
    display: block;
    font-weight: 650;
  }
  .email,
  .password {
    margin-bottom: 1rem;
    width: 300px;
    height: 35px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-indent: 10px;
    font-size: 15px;
    display: block;

    &:focus {
      outline: none;
    }
  }
  .terms {
    display: inline;
  }
  .checkbox {
    width: 15px;
  }
  .terms-checked {
    width: 230px;
    font-size: 15px;
    font-weight: 600;
    margin: -1.5rem 0rem 0rem 1.5rem;
  }
  .create-account {
    width: 250px;
    height: 40px;
    background: #013243;
    color: snow;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 8%;
    margin-top: 1rem;
  }
  a {
    color: #013243;
    font-weight: 750;
  }
}

@media only screen and (width: 320px) {
  section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: (-50%, -50%);
  }
  .image-content {
    display: block;
  }
}
